@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  box-sizing: border-box;
}

body {
  width: 320px;
  margin: 0 auto;
  background-color: #2f3640;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  margin: 5px 0;
}

.visible {
  display: none;
}

#main_title {
  margin: 5px 10px 0;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

#input_area {
  background-color: #353b48;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin: 10px;
  color: #c8d6e5;
  width: 300px;
  font-size: 1rem;
}

/* Buttons */
.btns {
  display: flex;
  justify-content: flex-end;
}

#btn_new,
#btn_save,
#btn_cancel {
  margin: 10px;
  padding: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

#btn_new,
#btn_save {
  background-color: #1abc9c;
}

#btn_cancel {
  background-color: #e74c3c;
}

#btn_new:hover,
#btn_save:hover,
#btn_cancel:hover {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
  transform: translate(-2px, -2px);
}

/* Notes */
.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.note-container {
  width: 300px;
  display: flex;
  align-items: center;
}

.note-item {
  background-color: #353b48;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #c8d6e5;
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  font-size: 1rem;
  transition: height 0.2s ease-out;
}

.note-item:hover {
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  transform: translate(-1px, -1px);
}

/* Edit and delete buttons */
.btn-delete,
.btn-edit {
  background: none;
  border: none;
  z-index: 10;
  color: #c8d6e5;
  cursor: pointer;
  transition: 0.2s;
}

.btn-delete:hover {
  color: #e74c3c;
  transform: scale(1.2);
}

.btn-edit:hover {
  color: #1abc9c;
  transform: scale(1.2);
}

.edit-delete-wrapper {
  display: flex;
  height: 24px;
  gap: 4px;
}

/* Icons */
.material-icons-round {
  vertical-align: middle;
}
